{% extends 'base.html.twig' %}

{% block body %}
	<h1>Subir un Archivo</h1>
	<div class="container">
		
			{{ form_start(form) }}
				<div class="form-group">
					{{ form_label(form.name, 'Nombre del Archivo') }}
					{{ form_widget(form.name) }}
					{{ form_errors(form.name) }}
				</div>
				<div class="form-group">
					{{ form_widget(form.enviar) }}
				</div>
			{{ form_end(form) }}

	</div>
{% endblock %}